.footer{
    height: 365px;
    background: #101010;
    margin-top: 200px;
    
}
.tooltip{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.tooltip_atim img{
    width: 143px;
    height: 25px;
    margin-top: 75px;
}
.tooltip_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}
.tooltip_link{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin-left: 34px;
}
.tooltip_link:hover{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D87D4A;
}
.popup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup_atim-p{
    position: relative;
    width: 540px;
    height: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 36px;
    
}
// .popup_atim::before{
    //     display: inline-block;
    //     position: absolute;
    //     content: "asasasassasa";
    //     width: 101px;
    //     height: 4px;
    //     background-image: url(../../img/img/footertayoq.jpg);
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: contain;
    // }
    .popup_atim-p1{
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-top: 56px;
    }
    .menu_link-img svg{
        margin-left: 16px;
        margin-bottom: -25px;
    }
    svg{
        fill: #FFFFFF;
    }
    svg:hover{
        fill: #D87D4A;
    }
    .warning_link{
        @include link3; 
        &:hover{
            @include link3_hover;  
        }
    }
    .link{
        @include link2;
        margin-bottom: 124px;
        &:hover{
            @include link2_hover;  
        }
    }